<header class="header vvgps">
    <a href="{{ path('vvgps') }}" class="goHome large">
        <img src="{{ asset('img/vvgps/logo.png') }}" alt="" width="47" height="44">
    </a>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="vvgps_title">{{ title }}</h1>
            </div>
        </div>
    </div>
</header>
